<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Pedido</title>
</head>
<body>
    <h1>Gracias por tu compra</h1>
    <p>Tu pedido ha sido realizado con éxito.</p>
    <p>Detalles del pedido:</p>
    <p>Dirección de Envío: {{ pedido.direccion_envio }}</p>
    <p>Hora de Entrega: {{ pedido.hora_entrega }}</p>
    <p>Platos comprados:</p>
    <ul>
        {% for item in pedido.carrito.itemcarrito_set.all %}
            <li>{{ item.plato.nombre }} - Cantidad: {{ item.cantidad }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'pagina_venta' %}">Volver a la Página de Venta</a>
</body>
</html>