body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EAEAEA; 
}

header {
    background-color: #ff9e1b; 
    color: white;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: white; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plato-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.plato {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: calc(33% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.plato img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.plato h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.plato p {
    color: #555;
}

.plato .description {
    font-size: 0.9em;
    color: #777;
    margin-top: 5px;
}

.actions {
    margin-top: 10px;
}

.actions a {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ff9e1b;
    border-radius: 5px;
    color: #ff9e1b;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.actions a:hover {
    background-color: #ff9e1b;
    color: white;
}

.add-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

.add-button:hover {
    background-color: #218838;
}